# PostgreSQL
POSTGRES_DB=content
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=pg_test
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis_test
REDIS_PORT=6379
REDIS_PASSWORD=test_passw

# App
SECRET_KEY=8b226b77688d6280f7d8b4c871c5d7d6836176fd1e00d34716705a87ec13f2e3
DEBUG=False
API_HOST=0.0.0.0
API_PORT=8000
WORKERS=1

# Nginx
NGINX_PORT=80

SERVICE_URL=http://api_test:8000

# Oauth
YANDEX_ID=afd378a7e7c749df9cf55d5d81c49ccf
YANDEX_SECRET=3b11685548ff46a593ca5e671c63ff83
YANDEX_AUTHORIZE_URL=https://oauth.yandex.com/authorize
